<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form id="filter-options" class="form-inline">
        <div class="form-group">
          <label for="email">Add new admin:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Email" >
        </div>
        <button type="submint" class="btn btn-default">Add</button>
      </form>
      <h3 class='text-center'>Current Admins</h3>
      <table class="table">
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <% if admin == @curr_admin %>
              <td>you</td>
            <% else %>
              <td><%= link_to "Remove", "admins/#{admin.id}", method: :delete %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>