<div class="container">
  <div class="row">
    <div class="col-xs-6" style="overflow-y: scroll; height:600px">
      <% for i in 0...7 %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Teacher Name - School</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">Location: San Jose</div>
                <div class="col-sm-6">Topics: Evolution</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-6" style="overflow-y: scroll; height:600px">
      <% for i in 0...7 %>
      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Scientist Name - Institution</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">Location: San Jose</div>
                <div class="col-sm-6">Topics: Evolution</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <% end %>
    </div>
  </div>
</div>